<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="portoflio.component.css">

</head>
<body>
    

<nav class="navbar">
    <app-navbar></app-navbar>
</nav>


<section class="portfolio">

    <h1 class="heading"> <span>my</span> work </h1>

    <div class="box-container">

        <div class="box">
            <img src="assets/images/cni.png" alt="">
            <div class="content">
                <h3>project 01</h3>
                <p>Customer Directory of <br/> national computer center of Tunis</p>
                <a href="https://github.com/chihebmezrigui1/AnnuaireClient">link</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/images/JO_prediction.png" alt="">
            <div class="content">
                <h3>Project 02</h3>
                <p>The prediction of the Summer Olympics of 2024 in Paris</p>
                <a href="https://frontend-hackathon-ashy.vercel.app/dashboard">Demo</a>
            </div>
        </div>
      
        <div class="box">
            <img src="assets/images/inprogress.jpg" alt="">
            <div class="content">
                <h3>Project 03</h3>
                <p>In progress ...</p>
                <a>Stay tuned</a>
            </div>
        </div>
<!--        
        <div class="box">
            <img src="images/img-3.jpg" alt="">
            <div class="content">
                <h3>project 03</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, praesentium.</p>
                <a href="#">read more</a>
            </div>
        </div>

        <div class="box">
            <img src="images/img-4.jpg" alt="">
            <div class="content">
                <h3>project 04</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, praesentium.</p>
                <a href="#">read more</a>
            </div>
        </div>

        <div class="box">
            <img src="images/img-5.jpg" alt="">
            <div class="content">
                <h3>project 05</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, praesentium.</p>
                <a href="#">read more</a>
            </div>
        </div>

        <div class="box">
            <img src="images/img-6.jpg" alt="">
            <div class="content">
                <h3>project 06</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, praesentium.</p>
                <a href="#">read more</a>
            </div>
        </div> -->

    </div>

    <a  class="btn"> load more <i class="fas fa-redo"></i> </a>
    
</section>


</body>
</html>
