<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="contact.component.css">

</head>

<body>


    <nav class="navbar">
        <app-navbar></app-navbar>
    </nav>


    <section class="contact">

        <h1 class="heading"><b>CONTACT</b><span><b> ME</b></span> </h1>

        <div class="row">

            <div class="info-container">

                <div class="box-container">

                    <div class="box">
                        <i class="fas fa-map"></i>
                        <div class="info">
                            <h3>address :</h3>
                            <p>Paris , ile de France</p>
                        </div>
                    </div>

                    <div class="box">
                        <i class="fas fa-envelope"></i>
                        <div class="info">
                            <h3>email :</h3>
                            <p>mezrigui.chihab@gmail.com</p>
                        </div>
                    </div>

                    <div class="box">
                        <i class="fas fa-phone"></i>
                        <div class="info">
                            <h3>number :</h3>
                            <p>+33 767034955</p>
                        </div>
                    </div>

                </div>

                <div class="share">
                    <a href="https://github.com/chihebmezrigui1" target="_blank"  class="fab fa-github"></a>
                    <!-- <a href="https://www.facebook.com/chihebmezrigui1/" target="_blank"  class="fab fa-facebook-f"></a> -->
                    <a href="https://www.linkedin.com/in/chihab-mezrigui-6b0b531ab" target="_blank"  class="fab fa-linkedin"></a>
                </div>

            </div>

            <form action="">

                <div class="inputBox">
                    <input type="text" placeholder="your name">
                    <input type="number" placeholder="your number">
                </div>

                <div class="inputBox">
                    <input type="email" placeholder="your email">
                    <input type="text" placeholder="your subject">
                </div>

                <textarea name="" placeholder="your message" id="" cols="30" rows="10"></textarea>

                <input type="submit" value="send message" class="btn">

            </form>

        </div>

    </section>

</body>

</html>
