<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <link rel="stylesheet" href="home.component.css">

</head>

<body>
    <nav class="navbar">
        <app-navbar></app-navbar>
    </nav>



    <section class="home">

        <div class="image">
            <img src="assets/images/aa.png" alt="">
        </div>

        <div class="content">
            <h3><b>hi, i am Chiheb Mezrigui</b></h3>
            <span> Computer Science Student</span>
            <p>I Would like to introduce myself as Web developer & UI/UX Designer.<br>I have 2+ years of experience in
                website design and development.
                <br>Looking for a role where I can grow and learn from experienced team members while drawing on project
                experience i have successfully executed .
            </p>
            <a routerLink="/about?chihebmezrigui" class="btn"> about me <i class="fas fa-user"></i> </a>
        </div>
    </section>



</body>

</html>