<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <link rel="stylesheet" href="home.component.css">

</head>

<body>
    <nav class="navbar">
        <app-navbar></app-navbar>
    </nav>



    <section class="home">

        <div class="image">
            <img src="assets/images/profile-pic (1).png" alt="">
        </div>

        <div class="content">
            <h3><b>hi, i am Chihab Mezrigui</b></h3>
            <span> Software Developer</span>
            <p>As a Software Data Engineer, I specialize in designing, developing, and maintaining robust data pipelines and storage systems.
                My work lies at the intersection of software development and data engineering, where I ensure the efficient processing, storage, and retrieval of data to support analytics and informed decision-making. 
                My expertise is in building scalable, high-performance solutions that manage large volumes of data,
                enabling organizations to leverage their data assets effectively.
            </p>
            <a routerLink="/about?chihebmezrigui" class="btn"> about me <i class="fas fa-user"></i> </a>
        </div>
    </section>



</body>

</html>
